@page
@model GuildsManager.Web.Pages.Abilities.CreateModel

@{
  ViewData["Title"] = "Create";
}

<h1>Create Ability</h1>
<h3>@Model.ModelCard?.Name</h3>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="ViewModel.CardId" />
      
      <partial name="_Fields" for="ViewModel" />
      
      <div class="form-group mt-4">
        <input type="submit" value="Create" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
