@page
@model GuildsManager.Web.Pages.Abilities.CreateModel

@{
  ViewData["Title"] = "Create";
}

<h1>Create Ability</h1>
<h3>@Model.ModelCard?.Name</h3>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="ViewModel.CardId" />
      <div class="form-group">
        <label asp-for="ViewModel.Name" class="control-label"></label>
        <input asp-for="ViewModel.Name" class="form-control"/>
        <span asp-validation-for="ViewModel.Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ViewModel.Text" class="control-label"></label>
        <textarea rows="5" asp-for="ViewModel.Text" class="form-control"></textarea>
        <span asp-validation-for="ViewModel.Text" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="ViewModel.Passive"/> @Html.DisplayNameFor(model => model.ViewModel.Passive)
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="ViewModel.Fatigue"/> @Html.DisplayNameFor(model => model.ViewModel.Fatigue)
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="ViewModel.Torment"/> @Html.DisplayNameFor(model => model.ViewModel.Torment)
        </label>
      </div>
      <div class="form-group mt-4">
        <input type="submit" value="Create" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
