@page
@model GuildsManager.Web.Pages.Attacks.CreateModel

@{
  ViewData["Title"] = "Create Attack";
}

<h1>Create Attack</h1>
<h3>@Model.ModelCard?.Name</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
      <partial name="_Fields" for="ViewModel" />
      
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
