@page
@model GuildsManager.Web.Pages.Attacks.EditModel

@{
  ViewData["Title"] = "Edit Attack";
}

<h1>Edit Attack</h1>

<hr/>
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="ViewModel.Id"/>

      <partial name="_Fields" for="ViewModel"/>

      <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>