@model GuildsManager.Web.ViewModels.ModelCards.ModelCardViewModel

<div class="col-md-6">
  <div class="form-group">
    <label asp-for="FactionId" class="control-label">Faction</label>
    <select asp-for="FactionId" class="form-control" asp-items="ViewBag.FactionId"></select>
    <p class="help">Which faction does this unit belong to?</p>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    <p class="help">The unit's name/title.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="Keywords" class="control-label"></label>
    <input asp-for="Keywords" class="form-control"/>
    <span asp-validation-for="Keywords" class="text-danger"></span>
    <p class="help">Comma separated list of keywords. "Dragon, Infantry"</p>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="Slots" class="control-label"></label>
    <input asp-for="Slots" class="form-control"/>
    <span asp-validation-for="Slots" class="text-danger"></span>
    <p class="help">How many slots this unit occupies. e.g. "Hero (**)" is "2"</p>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label asp-for="UnitNumber" class="control-label">Unit Number</label>
    <input asp-for="UnitNumber" class="form-control"/>
    <span asp-validation-for="UnitNumber" class="text-danger"></span>
    <p class="help">How many models in this unit?</p>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
    <label asp-for="Might" class="control-label"></label>
    <input asp-for="Might" class="form-control"/>
    <span asp-validation-for="Might" class="text-danger"></span>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label asp-for="Dex" class="control-label"></label>
    <input asp-for="Dex" class="form-control"/>
    <span asp-validation-for="Dex" class="text-danger"></span>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label asp-for="Def" class="control-label"></label>
    <input asp-for="Def" class="form-control"/>
    <span asp-validation-for="Def" class="text-danger"></span>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label asp-for="Will" class="control-label"></label>
    <input asp-for="Will" class="form-control"/>
    <span asp-validation-for="Will" class="text-danger"></span>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="Healing"/> @Html.DisplayNameFor(model => model.Healing)
    </label>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="IgnoreDifficultTerrain"/> @Html.DisplayNameFor(model => model.IgnoreDifficultTerrain)
    </label>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="Levitating"/> @Html.DisplayNameFor(model => model.Levitating)
    </label>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="Shield"/> @Html.DisplayNameFor(model => model.Shield)
    </label>
  </div>
</div>
<div class="col-md-3">
  &nbsp;
</div>