@page
@model GuildsManager.Web.Pages.ModelCards.CreateModel

@{
  ViewData["Title"] = "Create Model Card";
}

<h1>Create Model Card</h1>

<hr/>

<form method="post">
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="row">
    
    <partial name="_Fields" for="ViewModel" />
    
    <h3 class="title-font mt-4">Abilities / Attacks</h3>
    <p>Create/save the model card first before adding abilities and attacks.</p>
    
    <div class="form-group mt-2">
      <input type="submit" value="Create Model Card" class="btn btn-primary"/>
    </div>
  </div>
</form>
