@page
@model GuildsManager.Web.Pages.Factions.IndexModel

@{
  ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center mb-4">
  <h1 class="flex-fill">Factions</h1>
  <a class="btn btn-primary" asp-page="/Factions/Create">Create New Faction</a>
</div>

@foreach (var group in Model.Faction.GroupBy(x => x.Force))
{
  <h3>@group.Key</h3>
  <hr/>
  <div class="row">
    @foreach (var faction in group.OrderBy(x => x.Name))
    {
      <div class="col-6">
        <div class="card mb-4">
          <div class="card-body d-flex">
            <p class="mb-0" style="flex:1;">@faction.Name</p>
            <span>
              <a asp-page="./Edit" asp-route-id="@faction.Id">Edit</a> |
              <a asp-page="./Delete" asp-route-id="@faction.Id">Delete</a>
            </span>
          </div>
        </div>

      </div>
    }
  </div>
}
