html {
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Merriweather", sans-serif;
}

.navbar-brand {
  font-family: 'Aclonica',sans-serif;
  font-size: 20px;
  padding-left: 0;
  padding-right: 0;
}

h1, label, th, .title-font {
  font-family: 'Aclonica',sans-serif;
}

label {
  font-weight: 600;
}

p.help {
  font-size: 0.8rem;
  opacity: 0.8;
}

.form-group + .form-group {
  margin-top: 1rem;
}
